body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--blue-200);
}


#app-main-containert{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto;
  width: 100vw;
  height: 100vh;
}

#sheet-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

