*{
  letter-spacing: 0.01px;
  word-spacing: 1px;
  letter-spacing: 1px;
}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: var(--blue-200);
  overflow: hidden;
}

#scroll-container{
  height: 87.5%;
  overflow: hidden;

}

#app-main-containert{
  width: 100vw;
  height: 100vh;

}

.sheet-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}


#toolbar-menu-main-container{
  position: sticky;
  top: 0;
  z-index: 999999;
}

#statusBar-container{
  position: absolute;
  margin-bottom: 0;
  padding-bottom: 0;
  bottom: 0;
}

.p-dropdown-panel,
.p-colorpicker-panel,
.p-overlaypanel{
    z-index: 99999999 !important;
}
