#toolbar{
  width: 100vw;
  height: 100%;
  background-color: var(--surface-c);
  border-bottom: 1px solid var(--surface-200);
  display: grid;
  grid-template-columns: 50px auto;
}

#toolbar-tools-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  justify-content: space-evenly;
 
}

.toolbar-tools-seccion{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;

  column-gap: 3px;
}
.toolbar-tools-seccion > div{
  padding-right: 5px;
  padding-left: 5px;
  color: rgba(141, 244, 28);
   color: rgba(141, 244, 28, 0.633);
}