#toolbar{
  width: 100vw;
  height: 100px;
  background-color: var(--surface-c);
  display: flex; 
  flex-direction: column;
}

#toolbar > div{
  width: 100%;
  display: flex;
  column-gap: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}