#toolbar{
  width: 100vw;
  height: 100%;
  background-color: var(--surface-c);
  border-bottom: 1px solid var(--surface-200);
  display: grid;
  grid-template-columns: 50px auto;
}

#toolbar-tools-container{
  height: 100%;
  display: flex;
  gap: 10px;
  margin-left: 3px;
  margin-left: 10px;
 
}

.toolbar-tools-seccion{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  max-width: 510px;
  column-gap: 3px;
}