.background-selector-subiten-container{
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

}

.background-selector-main-subiten-check-container{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;

}
.background-selector-subiten-container > *{
  display: flex !important;
  align-items: center !important;
  width: 100%;
  margin-bottom: 10px;
}

.background-selector-subiten-container > * > div{
  width: 100%;
  display: flex !important;
  align-items: center !important;

}
.background-selector-subiten-container-slider{
  width: 20px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#text-format-main-container{
  width: 300px;
}

.text-format-icon-container > svg{
  fill: var(--primary-color) !important;
  width: 25px;
  height: auto;

}
.text-format-item-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-format-item-container > label{
  display: flex;

  gap: 10px;

}
