

#editText-main-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.editText-component-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

#font-aligtment-button-container,
#font-size-button-container{
  display: flex;
  column-gap: 5px;
}
