#text-format-main-container{
  width: 300px;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.text-format-item-container{
  display: flex;
  justify-content: space-between;
}

.text-format-icon-container > svg{
  fill: var(--primary-color);
}

.text-format-item-container > label{
  display: flex;
  column-gap: 5px;
  align-items: center;
  color: var(--primary-color);
  font-weight: 700;
}
.text-format-main-subiten-border-container{
  display: grid;
  grid-template-columns: 3fr 5fr;
  align-items: center;
  margin-bottom: 5px;
  height: 40px;
}
.text-format-main-subiten-border-container:hover{
  background-color: rgb(255, 248, 236);
}
.text-format-main-subiten-border-container > span{
  user-select: none;
}
.text-format-main-subiten-border-container #text-colorPicker{
  justify-self: center;
}
.text-format-main-subiten-check-container{
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 15px;
  margin-top: 5px;

}
.text-format-main-subiten-check-container > div{
  display: flex;
  justify-self: center;
  align-items: center;
  font-size: 13px;
  margin-left: 5px;
}